@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.video-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

:root {
  --blue:#01295f;--indigo:#00233f;--purple:#034d8b;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffda07;--green:#c3d933;--teal:#20c997;--cyan:#4695bc;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#dbcc35;--success:#4d8b3b;--info:#19a0ee1a;--warning:#ffc107;--danger:#dc3545;--light:#03030385;--dark:#343a40;
}
